body {
	font-family: 'Source Sans Pro', sans-serif; font-weight:400;
	font-size: 16px; background-color: #fffffa;
}
.bg-pic {
	background:#12343e url(../images/background.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;
	background-size:cover; 
}
.space-500 {
	height: 500px;
}
.bg-pic h1, .bg-pic h2 {
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); color:#ffffff;
}
.margin-negative {
	margin-top: -140px;
}
.white-font {
	color: #ffffff;
}
.margin-positive {
	margin-top: 70px;
}
#education {
	margin-bottom: 150px;
}
#skills .col-md-6 {
	margin-bottom: 50px;
}
.navbar-default {
	background-color: #666;
	border-bottom: #000;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
	color: #bfefff;
}
.footer p {
	color: #ffffff; padding: 10px;
}
.panel-body {
	background-color: #fffffa;
}
#skills, #experience, #about, #education {
	margin-top: -40px;
	padding-top: 40px;
}
#contact {
	color: #ffffff; padding-bottom: 200px;
}
@media(max-width:1024px){h1 {font-size:46px;} .bg-pic {background:url(../images/background.jpg); 
	-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;
	color:#333;padding-top:0px;} .white-font {color: #333;}}