body {
	font-family: 'Source Sans Pro', sans-serif; font-weight:300;
}
.header {
	background:#12343e url(../images/background.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;
	background-size:cover;height:500px;text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);color:#fff;
}
.margin-negative {
	margin-top: -140px;
}
.white-font {
	color: #ffffff;
}
.margin-positive {
	margin-top: 50px;
}